*{
  font-family: Sans-serif;
}

.titre{
  text-align:center;
  background-color:#EEEEEE;
  line-height:50px;
}
li{
  color:#96E0FA;
  list-style-type:none;
  display:inline-block;
  
}

ul a{
  border-bottom:dashed black;
  text-decoration:none;
  
}
header{
  wdth:1500px;
  padding:1px;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  
}
.gauche a{
  color:#96E0FA;
  float:left;
  border-bottom:dashed black;
  text-decoration:none;
}
.droite a{
  color:#96E0FA;
  float:right;
  border-bottom:dashed black;
  text-decoration:none;
}
.informaticien{
  float:left;
}
.informaticien >h2{
  text-align:center;
}
img{
  height:150px;
  width:150px;
}